HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
logs/log_debug.log
logs/log_error.log
logs/log_info.log
logs/log_warn.log
kasarisute-admin/logs/log_debug.log
kasarisute-admin/logs/log_error.log
kasarisute-admin/logs/log_info.log
kasarisute-admin/logs/log_warn.log
kasarisute-admin/logs/error/log-error-2024-07-30.0.log
kasarisute-admin/logs/info/log-info-2024-07-30.0.log
kasarisute-admin/logs/warn/log-warn-2024-07-30.0.log
logs/info/log-info-2024-07-30.0.log
logs/warn/log-warn-2024-07-30.0.log
